Handsmen Threads/force-app/main/default/flows/Loyalty_Status_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>loyality_program</name>
        <label>loyality program</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>HandsMen_Customer__c.Loyalty_Program_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>loop_through_records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>loop_through_records.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HandsMen_Customer__c.Loyalty_Program_Email_Alert</nameSegment>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>loyality_status_check</name>
        <label>loyality status check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>silver_update_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Silver</defaultConnectorLabel>
        <rules>
            <name>Gold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_through_records.Total_Purchases__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gold_update_records</targetReference>
            </connector>
            <label>Gold</label>
        </rules>
        <rules>
            <name>Bronze</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_through_records.Total_Purchases__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>bronze_update_records</targetReference>
            </connector>
            <label>Bronze</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Loyalty Status Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loyalty Status Update Flow</label>
    <loops>
        <name>loop_through_records</name>
        <label>loop through records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>get_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loyality_status_check</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_records</name>
        <label>get records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_records</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HandsMen_Customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>bronze_update_records</name>
        <label>bronze update records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>loyality_program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_through_records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loyalty_Status__c</field>
            <value>
                <stringValue>Bronze</stringValue>
            </value>
        </inputAssignments>
        <object>HandsMen_Customer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>gold_update_records</name>
        <label>gold update records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>loyality_program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_through_records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loyalty_Status__c</field>
            <value>
                <stringValue>Gold</stringValue>
            </value>
        </inputAssignments>
        <object>HandsMen_Customer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>silver_update_records</name>
        <label>silver update records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>loyality_program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_through_records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loyalty_Status__c</field>
            <value>
                <stringValue>Silver</stringValue>
            </value>
        </inputAssignments>
        <object>HandsMen_Customer__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-07-24</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
